*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
body{
    background-color: black;
}
.treino__t{
    background-image: url(./img/ali.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    
}
.rm3{
    width: 100%;
    max-width: 4vh;
    margin: 0 auto;
    margin-left: 220vh;
}
.teste{
    
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.297);
    padding: 4px;
}


.cabecalho{
    background-image:url(./img/ring.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: -77vh;
    background-size: cover;
    width: 300vh;
    max-width: 100%;
    padding: 30px;
    margin: 0 auto;
}
.navegacao{
    display: flex;
    justify-content: space-between;
}
.treino{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(50deg,black,red);
}

.sacoPancada{
background-image: url(./img/ali51.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;

}
.parceiro{
background-image: url(./img/ali.jpg);
background-position:top ;
background-size: cover;
background-repeat: no-repeat;

}

.treino_um,.treino_dois{
    background-color: rgba(255, 0, 0, 0.297);

}
.remov{
    margin-left: 640px;
    
}

li{
    list-style: none;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.resu1,.resu2,.resu3{
    color: black;
    text-align: center;
    height: 300px;
    padding-left: 10px;
}
input,button{
    padding: 6px;
    border: none;
    text-align: center;
    color: red;
    border-radius: 20px;
    margin-bottom: 5px;
}
button{
    color: red;
    background-image: linear-gradient(50deg, black,white);
    font-weight: bold;
    transition: 1s;
}
button:hover{
    color: white;
    background-image: linear-gradient(50deg, black,red);
    border: 1px solid white;
    box-shadow: 2px 2px 2px white;
}
p{
    color: rgb(135, 188, 0);
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: white;
    transition: 1s;
    cursor: pointer;
}
p:hover{
    color: white;
    text-decoration: overline;
    text-decoration-color: red;
}
h1,h2{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
a:hover{
    text-decoration: overline;
    text-decoration-color: red;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
@media screen and (min-width: 295px) and (max-width: 1000px) {
    .treino{
        display: grid;
        grid-template-columns: 1fr  ;
        margin: 0 auto;
        text-align: center;
        background-image: linear-gradient(50deg,black,red);
    }
    .rm2,.rm1,.rm3{
        
        margin-left: 93vw;
    }
    .navegacao{
        display: flex;
        flex-wrap: wrap;
    }
    a{
        color: rgb(0, 123, 145);
    }
    .cabecalho{
        background-image:url(./img/ring.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-y: -15vh;
        background-size: cover;
        width: 300vh;
        max-width: 100%;
        padding: 30px;
        margin: 0 auto;
    }
}

